<div>
    <app-navbar-resmanager></app-navbar-resmanager>
    <div class="body">
        <div class="blurred-box">
            <div class="user-login-box">
                  <div class="form-group row form-inline">
                    <label for="name" class="user-name col-sm-2 col-form-label">Nom</label>
                    <div class="col-sm-10">
                      <input readonly class="input.user-password form-control" id="name" #Name>
                    </div>
                  </div>
                <div class="form-group row form-inline">
                    <label for="email" class="user-name col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input readonly class="input.user-password form-control" id="email" #Email>
                    </div>
                  </div>
                  <div class="form-group row form-inline">
                    <label for="address" class="user-name col-sm-2 col-form-label">Adresse</label>
                    <div class="col-sm-10">
                      <input readonly class="input.user-password form-control" id="address" #Address>
                    </div>
                  </div>
                  <div class="form-group row form-inline">
                    <label for="contact" class="user-name col-sm-2 col-form-label">Contacter</label>
                    <div class="col-sm-10">
                      <input readonly class="input.user-password form-control" id="contact" #Contact>
                    </div>
                  </div>
                  <div class="form-group row form-inline">
                    <label for="type" class="user-name col-sm-2 col-form-label">Taper</label>
                    <div class="col-sm-10">
                      <input readonly class="input.user-password form-control" id="type" #Type>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>