.head{width: 100%; margin: auto;
height: 200px;
background: url('https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2Fyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
background-repeat: no-repeat;
background-size: cover;}
.carousel-control-prev-icon,.carousel-control-next-icon{color: black;font-size: larger;}
.card{width: 80%; margin: auto;}
.card-img{width: 100%;height: 150px;}
p span{color: rgb(8, 241, 203);font-weight: 500;}
.HEAD{font-weight: bold;font-style: italic;color: white;background: black;padding: 5px;padding-left: 10px;padding-right: 10px;}