a span{color: black;}
.head{color: brown;}
.carousel-caption{background: rgba(0, 0, 0, 0.198);}
.carousel h1{color: brown;}
.carousel h2{color: white;}
.card-body{align-items: center;}
.card-body h2{color: black;}
.card-body h5{color: green;cursor: pointer;}
.card-body p{font-size: 20px;}
.cardView{border: 1px black solid; margin: 22px;padding: 10px;}
.modal-body span{color: brown;}