<div>
    <app-admin-navbar></app-admin-navbar>
    <br><br><br>
    <div class="container m-4 text-justify" dir="auto">
        <form #frm="ngForm" (ngSubmit)="updateAgency()">
            <div class="form-group">
                <label for="agencyName">Nom</label>
                <input type="text" class="form-control" aria-describedby="helpId" #agencyName="ngModel"
                    [class.is-invalid]="agencyName.invalid && agencyName.touched" [(ngModel)]="newAgency.name"
                    id="agencyName" minlength="2" name="Name" [class.is-valid]="agencyName.valid" #name>
            </div>
            <div class="form-group">
                <label for="agencyEmail">E-mail</label>
                <input type="text" class="form-control" aria-describedby="helpId" #agencyEmail="ngModel"
                    [class.is-invalid]="agencyEmail.invalid && agencyEmail.touched" [(ngModel)]="newAgency.email"
                    id="agencyEmail" minlength="2" name="Email" [class.is-valid]="agencyEmail.valid" #email>
            </div>
            <div class="form-group">
                <label for="agencyAddress">Adresse</label>
                <input type="text" class="form-control" aria-describedby="helpId" #agencyAddress="ngModel"
                    [class.is-invalid]="agencyAddress.invalid && agencyAddress.touched"
                    [(ngModel)]="newAgency.address" id="agencyAddress" minlength="2" name="Addressription"
                    [class.is-valid]="agencyAddress.valid" #address>
            </div>
            <div class="form-group">
                <label for="related">Contacter</label>
                <input type="text" class="form-control" aria-describedby="helpId" #related="ngModel"
                    [class.is-invalid]="related.invalid && related.touched" [(ngModel)]="newAgency.contact"
                    id="related" minlength="2" name="Related" [class.is-valid]="related.valid" #contact>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-dark" [disabled]="frm.invalid" type="submit">Sauvegarder</button>
            </div>
        </form>

    </div>
</div>