.borderClass{ margin: 16px;padding-bottom: 16px; border: 5px black solid;border-radius: 10px;}
.bank{
    border-left: 6px solid green;
}
h1{color: red;}
td span{color: greenyellow;}
.first_div{color: brown;font-weight: bold;}
.data{color: blue;}
.print{width: 50%;border: 3px black solid;border-radius: 20px;margin: auto; font-weight: bold;padding: 7px;}
.print:hover{color: black;font-size: large;}