.navbar{padding-left: 150px; background: rgb(216, 212, 212) !important;}
.navbar i{color: rgb(124, 253, 225); font-size: larger;}
.navbar i:hover{color: darkblue;}
ul li a {font-weight: 500;}
.person li{
    cursor: pointer;
}