
*{
    margin: 0;
    padding: 0;
   }

   label{
       color: white;
       text-align:left;
       padding-left: 18px;
    }
   input{
       text-align:left;
    padding-left: 16px;
    font-weight: 400;
    border: none;
    color: white;
    background-color: black;
    width: 250px;
}
   /* CSS which you need for blurred box */
   .body{
       overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url(https://specials-images.forbesimg.com/imageserve/5d3703e2f1176b00089761a6/960x0.jpg?cropX1=836&cropX2=5396&cropY1=799&cropY2=3364);
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
   
   .blurred-box{
       padding-top: 12px;
     position: relative;
     width: 420px;
     height: 300px;
     top: calc(50% - 150px);
     left: calc(50% - 200px);
     background: inherit;
     border-radius: 8px;
     overflow: hidden;
   }
   
   .blurred-box:after{
    content: '';
    width: 700px;
    // height: 300px;
    background: inherit; 
    position: absolute;
    left: -25px;
    // left: position;
    right: 0;
    top: -25px;  
    // top position 
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    filter: blur(10px);
   }
   
   
   /* Form which you dont need */
   .user-login-box{
     position: relative;
     margin-top: 35px;
     text-align: center;
     z-index: 1;
   }

   .form-inline{
    margin-left: 16px;
    margin-top: 12px;
   }
   .form-inline input{
    margin-right: 0 !important;
    color: black;
}
.form-inline label{
    margin: 0 !important;
    text-align: left;
}
   