<div>
    <app-agency-navbar></app-agency-navbar>
    <br><br><br>
    <h1>Liste des réservations</h1>
    <div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom du client</th>
            <th scope="col">Date de départ</th>
            <th scope="col">Date de retour</th>
            <th scope="col">Plaque d'immatriculation</th>
            <th scope="col">Type de contrat</th>
            <th scope="col">Type de client</th>
            <th scope="col">Opt <i class="fas fa-chevron-down"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rentalList;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{item?.customerName}}</td>
            <td>{{item?.startdate}}</td>
            <td>{{item?.enddate}}</td>
            <td>{{item?.plate_number}}</td>
            <td>{{item?.type_of_contract}}</td>
            <td>{{item?.customer_type}}</td>
            <td class="text-center"><i class="fas fa-plus-square" (click)="addnewReserv(item.customerName)"></i>
                <i class="ml-2 fas fa-file-invoice-dollar" (click)="newInvice()"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>